<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <nav>   
        <a href="/about">About:</a>
        <a href="/works">Works:</a>
        <a href="/photos">Photos:</a>
        <a href="/">Home</a>
    </nav>
    <h3>About Elon Musk</h3>
    <p>Elon Reeve Musk was born June 28, 1971.<br>
       He is an entrepreneur, investor, and business magnate.<br>
       He is the founder, CEO, and chief engineer at SpaceX. <br>
       CEO and Product Architect of Tesla, Inc.<br>
       Founder of The Boring Company and co-founder of Neuralink and OpenAI.
    </p>
</body>
</html>